@import url("https://use.typekit.net/qet5luu.css");

* {
  padding: 0;
  margin: 0;
  font-family: articulat-cf, sans-serif;
  font-style: normal;
}

/* Desktop CSS */

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header-Logo {
  width: 5em;
}

.mobile-header {
  display: none;
}

.mobile-wrapper {
  display: none;
}

/* Mobile CSS */

@media only screen and (max-width: 950px) {

  .Header {
    display: none;
  }

  .mobile-wrapper {
    display: contents;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  .mobile-header {
    display: flex;
    justify-content: center;
  }

  .header-btn {
    position: absolute;
    bottom: 0.5em;
    width: 5em;
    cursor: pointer;
    z-index: 99;
  }

  .mobile-header-btn-etcs {
    position: absolute;
    z-index: 99;
    bottom: 5.5em;
    font-size: clamp(1rem, 2vw, 1rem);
    opacity: 0;
    animation: menuTip 1s linear;
    animation-delay: 2s;
    color: #F1F0F9;
  }

  .mobile-header-items {
    display: block;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    z-index: 99;
    bottom: 6em;
    padding: 0.7em;
    background-color: #F1F0F9;
    border-radius: 2em;
    animation: openMobileMenu 300ms linear;
  }

  .mobile-header-item {
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 1.5rem);
    padding: 0.2em;
    color: inherit;
  }

  .mobile-header-item.active {
    color: #E84855;
  }

  @keyframes openMobileMenu {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50%{
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
      overflow: hidden;
    }
  }

  @keyframes menuTip {
    0% {
      opacity: 0;
      transform: translateY(200%);
    }
    25%, 30%, 35%, 40%, 45% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    75%, 85%, 90%, 95% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(200%);
    }
  }

  .home-mobile-info {
    position: absolute;
    z-index: 99;
    left: 2em;
    top: 5em;
    /* color: #F1F0F9; */
    color: #383f51;
    text-shadow: 2px 5px 15px rgba(0, 0, 0, 0.25);
  }

  .home-mobile-title {
    font-size: clamp(4rem, 8vw, 4rem);
  }

  .home-mobile-title2 {
    font-size: clamp(4rem, 8vw, 4rem);
    font-weight: 200;
  }

  .home-mobile-bg {
    position: fixed;
    z-index: 0;
    width: 75em;
    height: 58.1em;
    left: -22em;
    top: 0px;
    overflow: hidden;
  }

  .mobile-bg-gradient {
    position: fixed;
    z-index: 1;
    height: 58.1em;
    width: 50em;
    background-image: linear-gradient(180deg, rgba(56, 63, 81, 0) 0%, rgba(56, 63, 81, 0.7) 100%);
    overflow: hidden;
  }

  .mobile-bg-gradient2 {
    position: fixed;
    z-index: 90;
    width: 50em;
    height: 58.1em;
    top: 10em;
    left: -10em;
    background: linear-gradient(180deg, rgba(241, 240, 249, 0) 51.36%, #F1F0F9 100%);
    transform: rotate(-45deg);
    overflow: hidden;
  }

  .mobile-page {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    font-size: clamp(2rem, 4vw, 2rem);
  }
  
  .mobile-page2 {
    display: flex;
    justify-content: center;
    margin-left: 0.4em;
    font-size: clamp(2rem, 4vw, 2rem);
    font-weight: 200;
  }

  .mobile-back {
    position: absolute;
    width: 4em;
    height: 4em;
    left: 34px;
    top: 3.3em;
  }

  .contact-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
  }

  .contact-page-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
    color: inherit;
    text-decoration: none;
    font-size: clamp(2.5rem, 5vw, 2.5rem);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
  }
}